.card__set {
  display: flex;
  margin: -15px;
}

.card__item {
  margin: 15px;
}

.card__thumb {
  padding: 24px;
  text-align: left;

  background-color: $card-background-color;

  .link__card:hover &,
  .link__card:focus & {
    background-color: $main-light-color;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
}
