.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;

  .hero & {
    display: flex;
    align-items: center;
    width: 1470px;
  }

  .call & {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
