.text__main {
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}

.text__gifts {
  font-size: 18px;
  line-height: 1.35;
  margin-top: 0;
  margin-bottom: 64px;
}

.text__card {
  font-size: 14px;
  line-height: 1.35;
}
