.title__hero {
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.5;
}

.title__section {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.4;
}
