$main-light-color: #ffffff;
$main-text-color: #000000;

$logo-color: #231f20;

$accent-color: #f7941e;

$background-color: #f1f1f2;
$card-background-color: #fafafa;

$main-font: Poppins, sans-serif;
$logo-font: 'Homemade Apple', sans-serif;
